<div class="clearfix">
	<form action="/make_appointment" method="POST">
		<p>Quem estava mandando bem?</p>
		<select id="mylist" class="friends" name="appointed">
			<% @friends.each do |friend| %>
				<option value="<%= friend['id'] %>">
					<img src="https://graph.facebook.com/<%= friend['id'] %>/picture?type=square" alt="<%= friend['name'] %>">
					<%= friend['name'] %>
				</option>
			<% end %>
		</select>
		<br>
		<p>Como foi?</p>
		<textarea onKeyPress="return taLimit(this)" onKeyUp="return taCount(this,'myCounter')" name="body" rows="10" cols="40"></textarea>
		<p id='counter'><span id="myCounter">300</span> characters</p>
		<input type="submit" value="Aí sim!" />
		<input type="hidden" name="appoints" value="<%= @user['id'] %>">
	</form>
</div>

<script type="text/javascript">
	$(document).ready(
		function() {
			var lb = document.getElementById('mylist');
			arrTexts = new Array();

			for(i=0; i<lb.length; i++)  {
				arrTexts[i] = lb.options[i].text;
			}

			arrTexts.sort();

			for(i=0; i<lb.length; i++)  {
				lb.options[i].text = arrTexts[i];
				lb.options[i].value = arrTexts[i];
			}
		}
	);
</script>