<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/util.js"></script>
  </head>
	
  <body>
	
	<header id='header'> <img src='../images/appointment.png'/><a> aí, sim! </a><span id='description'>O reconhecimento pelo bom trabalho feito.</span>
	</header>
	
	<section id='sidebar'>
	
		<div id='user-info'>
			<% if @user %>
			<p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal); float:left; display:block; width:100%; margin:14% auto"></p>
			<div>
				<h1><strong><%= @user['name'] %></strong></h1>
			</div>
			<% else %>
			<div>
				<h1>Bem vindo</h1>
				<div class="fb-login-button" data-scope="<%= FACEBOOK_SCOPE %>">Log In</div>
			</div>
			<% end %>
		</div>
		<div id='sidebar-buttons'>
			<div id='appointment' class='btn-sidebar' onclick='window.location="/appointment";'>Apontar alguem</div>
			<div id='logout' class='btn-sidebar'>Sair</div>
		</div>
	</section>
	
	<section id='content'>
		<%= yield %>
	</section>	

	</body>
</html>